<launch>
    <!-- Play depth_raw.bag -->
    <node pkg="rosbag" type="play" name="player1" 
          args="$(find tiago_sar_cogarch)/bags/depth_raw.bag --loop" 
          output="screen" required="true"/>

    <!-- Play rgb_raw.bag -->
    <node pkg="rosbag" type="play" name="player2" 
          args="$(find tiago_sar_cogarch)/bags/rgb_raw.bag --loop" 
          output="screen" required="true"/>

    <!-- Play scan_lidar.bag -->
    <node pkg="rosbag" type="play" name="player3" 
          args="$(find tiago_sar_cogarch)/bags/scan_lidar.bag --loop" 
          output="screen" required="true"/>

    <!-- Play odometry.bag -->
    <node pkg="rosbag" type="play" name="player4" 
          args="$(find tiago_sar_cogarch)/bags/odometry.bag --loop" 
          output="screen" required="true"/>

    <!-- Play sonar.bag -->
    <node pkg="rosbag" type="play" name="player5" 
          args="$(find tiago_sar_cogarch)/bags/sonar.bag --loop" 
          output="screen" required="true"/>

    <!-- Play audio.bag -->
    <node pkg="rosbag" type="play" name="player6" 
          args="$(find tiago_sar_cogarch)/bags/audio.bag --loop" 
          output="screen" required="true"/>

    <!-- Play force_sensor.bag -->
    <node pkg="rosbag" type="play" name="player7" 
          args="$(find tiago_sar_cogarch)/bags/force_sensor.bag --loop" 
          output="screen" required="true"/>

    <!-- Play arm_jointstate.bag -->
    <node pkg="rosbag" type="play" name="player8" 
          args="$(find tiago_sar_cogarch)/bags/arm_jointstate.bag --loop" 
          output="screen" required="true"/>
</launch>